* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
}

.container {
  padding: 4rem 0;
  display: flex;
  /* flex-flow: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.countries {
  /* margin-bottom: 8rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 2rem;
  opacity: 1;
  transition: opacity 1s;
  justify-content: space-between;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
  border: 1px solid rgb(204, 196, 196);
}

.neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.search__input {
  position: relative;
  width: 100%;
  height: 4rem;
  margin-bottom: 3rem;
}

.search__input input {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 0.2rem;
  border: 0.2rem solid rgb(56, 53, 53);
  font-size: 1.6rem;
  border-radius: 5px;
  width: 30rem;
}

.btn {
  width: 11rem !important;
  cursor: pointer;
  box-shadow: 5px 5px;
}
.btn:active{
  top: 70%;
  left: 51%;
  box-shadow: 0 0;
}

.countries h1{
  text-align: center;
  font-size: 3rem;
}